.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container header {
  display: flex;
  align-items: center;
  min-height: 5vh;
  background-color: #20232a;
  color: #61dafb;
  padding: 30px 20px;
}

.container header p {
  font-weight: bold;
}

.container main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.secao__titulo {
  min-height: 30vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  background-color: #282c34;
}

.secao__titulo h1 {
  color: #61dafb;
}

.secao__titulo p {
  color: #fff;
}

.secao__titulo a {
  background-color: #61dafb;
  padding: 10px;
  text-decoration: none;
  color: #20232a;
  font-weight: bold;
}

.secao__requisitos {
  min-height: 50vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container__cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
}

.container__cards div {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #282c34;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(145, 145, 145);
}

.container__cards div h3 {
  color: #edc854;
}

.container__cards div p {
  color: #fff;
}

.container footer {
  min-height: 5vh;
  padding: 30px;
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  background-color: #f2f3f6;
}